:root {
    --pink: #de8a89;
    --white:  #ffffff;
    --black: #201e1f;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-size: 16px;
}

body {
    min-height: 100vh;
    width: 100%;
    background-color: var(--pink);
}

a, a:hover, a:focus, a:active, a:hover {
    text-decoration: none;
    color: inherit;
    
}

button {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.top-box {
    margin-top: 4em;
    margin-left: 11em;
}

.materials {
    display: flex;
    gap: 2em;
}

.materials a {
    font-size: 5em;
    text-transform: uppercase;
    font-weight: 500;
    color: var(--white);
    opacity: .5;
}

.materials a:first-child  {
    color: var(--white);
    opacity: 1;
}

.materials a:hover {
    opacity: 1;
}

.top-box p {
    width: 60%;
    font-size: 1.25em;
    font-weight: 500;
    margin-top: 1.5em;
    color: var(--white);
}

.middle-box {
    display: flex;
    margin-top: 3em;
    margin-left: 5em;
}

.arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    opacity: .5;
    width: 7em;
    height: 7em;
}

.arrow:hover {
    opacity: .75;
}

.play {
    width: 10%;
    height: auto;
}

.left .play {
    transform: rotate(180deg);
} 

.specification {
    display: flex;
    box-shadow: 0 1px 1px rgba(0,0,0,0.12), 
    0 6px 6px rgba(0,0,0,0.12), 
    0 8px 8px rgba(0,0,0,0.12), 
    0 12px 12px rgba(0,0,0,0.12),
    0 20px 20px rgba(0,0,0,0.12);
}

.parameter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20em;
    height: 20em;
    gap: .5em;
    padding-left: 4em;
}

.parameter .title {
    color: var(--pink);
}

.parameter .detail {
    color: var(--white);
    font-size: 1.5em;
    font-weight: 500;
}

.parameter_one {
    background-color: #3e3c3d;
}

.parameter_two {
    background-color: #353334;
}

.parameter_three {
    background-color: var(--black);
}

.btn_start {
    background-color: var(--black);
    color: var(--white);
    width: 18em;
    height: 4em;
    margin: -2.5em 0 0 13em;
    border-radius: 5px;
}

.btn_start:hover {
    margin-top: -3em;
}

@media screen and (max-width: 82em) {
    /* 1312px */
    .materials a {
        font-size: 3.9em;
    }

    .top-box p {
        font-size: 1em;
    }
    
    .arrow {
        width: 5em;
        height: 5em;
    }
         
    .parameter {
        width: 18em;
        height: 18em;
    }
    
    .btn_start {
        width: 14em;
        height: 4em;
        margin: -2.5em 0 0 12em;
    }    
}

@media screen and (max-width: 69em) {
    /* 1100px */
    .top-box {
        margin-left: 8em;
    }

    .top-box p {
        width: 100%;
    }
    
    .middle-box {
        margin-left: 2em;
    }

    .arrow {
        width: 5em;
        height: 5em;
    }
         
    .parameter {
        width: 15em;
        height: 15em;
    }
    
    .btn_start {
        width: 10em;
        height: 4em;
        margin: -2.5em 0 0 8.5em;
    }
}

@media screen and (max-width: 54em) {
    /* 870px */
    .top-box p {
        width: 100%;
        background-color: blue;
    }

    .top-box {
        margin-left: 7em;
    }

    .middle-box {
        width: 100%;
        margin-left: 5em;
    }

    .arrow {
        width: 4em;
        height: 4em;
    }
         
    .play {
        width: 20%;
    }

    .parameter {
        width: 13em;
        height: 13em;
    }
    
    .btn_start {
        width: 13em;
        height: 4em;
        margin: -2.5em 0 0 8em;
    }
}

@media screen and (max-width: 48em) {
    /* 768px */
}